//form {
//  width: 350px;
//  margin: 50px auto;
//}
//
//.form-group {
//  margin-bottom: 25px;
//}
//
//.input-group {
//  display: flex;
//  align-items: center;
//}
//
//.input-group-prepend {
//  background-color: #f1f1f1;
//  border: 1px solid #ccc;
//  border-radius: 40px 0 0 40px;
//  display: flex;
//  align-items: center;
//  padding: 6px 12px;
//}
//
//.input-group-text i {
//  font-size: 18px;
//}
//
//input[type="text"],
//input[type="password"] {
//  border: 1px solid #ccc;
//  border-radius: 0 40px 40px 0;
//  padding: 6px 12px;
//  width: 100%;
//}
//
//button[type="submit"] {
//  width: 100%;
body{
  background-color: #0081B4;
}
img{
  margin-top: 1%;
  margin-left: 1%;
  border: none;
  width: 1000px;height: 690px
}
