.btn1{
  background-color: aliceblue;
  text-color: #0081B4;
  width: 90%;
  height: 40px;
  border-radius: 30px;
  border: none;
}
.hd{
  background-color: aliceblue;opacity: 90%;border-radius: 20px 20px 0 0;
}

