
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-6" style="height: auto">
      <div class="row">
        <div class="col">
          <div class="card" style="max-width: 100%;background-color: #0081B4;border: none;border-radius: 20px;">
            <div class="card-header hd">
              <h3 style="color: #0081B4">Display Banque</h3>
            </div>
            <div class="card-body mt-2">
              <div class="container">
                <div class="row justify-content-center ">
                  <div class="col-12 text-center text-white">
                    <h6>En Service</h6>
                  </div>
                  <div class="w-100 d-none d-md-block"></div>
                  <div class="col-12 text-center text-white">
                    <button type="button" class="btn  btn1 text-bg-primary" disabled class="btn btn-light btn-lg" style="width: 100px;height: 100px;border-radius: 100%;">V-2</button>
                  </div>
                  <div class="col-12 text-center text-white pt-3">

                    <div class="row justify-content-md-center row-cols-auto">

                      <div class="col-12 text-center">
                        <h3>Veuillez passer a la</h3>
                      </div>
                      <div class="col">
                        <p>Caisse 2</p>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="col-12 col-sm-4 text-center" style="width: 60%">
                    <button type="button" class="btn btn1 text-bg-primary" (click)="display()">Connexion</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="w-100 d-none d-md-block"></div>
        <br>
        <div class="col">
          <div class="card" style="max-width: 100%;background-color: #0081B4;border: none;border-radius: 20px;">
            <div class="card-header hd">
              <h3 style="color: #0081B4">Kiosk de la Banque</h3>
            </div>
            <div class="card-body mt-4">
              <div class="container">
                <div class="row justify-content-center ">
                  <div class="col-6 col-sm-4">
                    <button type="button" class="btn  btn1 text-bg-primary" disabled>Western Union</button>
                  </div>
                  <div class="col-6 col-sm-4">
                    <button type="button" class="btn  btn1 text-bg-primary" disabled>Versement</button>
                  </div>
                  <div class="col-6 col-sm-4">
                    <button type="button" class="btn btn1 text-bg-primary" disabled>Retrait</button>
                  </div>
                <br><br>
                  <div class="col-12 col-sm-4 text-center" style="width: 60%">
                    <button type="button" class="btn btn1 text-bg-primary" (click)="kiosk()"><b>Connexion</b></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="w-100 d-none d-md-block"></div>
        <br>
        <div class="col mb-4">
          <div class="card" style="max-width: 100%;background-color: #0081B4;border: none;border-radius: 20px;">
            <div class="card-header hd">
              <h3 style="color: #0081B4">Call service Banque</h3>
            </div>
            <div class="card-body mt-2">
              <div class="container">
                <div class="row justify-content-center ">
                  <div class="col-12 text-center text-white">
                    <h6>En Service</h6>
                  </div>
                  <div class="w-100 d-none d-md-block"></div>
                  <div class="col-12 text-center text-white">
                    <button type="button" class="btn  btn1 text-bg-primary" disabled class="btn btn-light btn-lg" style="width: 100px;height: 100px;border-radius: 100%;">V-2</button>
                  </div>
                  <div class="col-12 text-center text-white pt-3">

                    <div class="row justify-content-md-center row-cols-auto">

                      <div class="col-12 text-center">
                        <h3>Veuillez passer a la</h3>
                      </div>
                      <div class="col">
                        <p>Caisse 2</p>
                      </div>
                    </div>
                  </div>
                  <div class="w-100 d-none d-md-block"></div>
                  <div class="row row-cols-4 text-center">
                    <div class="col">
                      <button type="button" class="btn  btn1 text-bg-primary" disabled class="btn" style="background-color: #17DC2B;width: 50px;height: 45px;border-radius: 100%;border: none">
                        <i class="material-icons" style="font-size: 30px;color: aliceblue">done</i>
                      </button>
                    </div>
                    <div class="col">
                      <button type="button" class="btn  btn1 text-bg-primary" disabled class="btn" style="background-color: bisque;width: 50px;height: 45px;border-radius: 100%;border: none">
                        <i class="material-icons" style="font-size: 30px;color: #0081B4">east</i>
                      </button>
                    </div>
                    <div class="col">
                      <button type="button" class="btn  btn1 text-bg-primary" disabled class="btn" style="background-color:#0081B4;width: 50px;height: 45px;border-radius: 100%;border: none">
                      <i class="material-icons" style="font-size: 30px;color: aliceblue">mic</i>
                    </button>
                    </div>
                    <div class="col">
                      <button type="button" class="btn  btn1 text-bg-primary" disabled class="btn" style="background-color: #EABD08;width: 50px;height: 45px;border-radius: 100%;border: none">
                        <i class="material-icons" style="font-size: 30px;color: aliceblue">refresh</i>
                      </button>
                    </div>

                  </div>
                  <div class="w-100 d-none d-md-block"></div>
                  <br>
                  <div class="col-12 col-sm-4 text-center" style="width: 60%">
                    <button type="button" class="btn btn1 text-bg-primary" (click)="call()">Connexion</button>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br><br>

        </div>
        <br>
      </div>
      </div>
    <br><br>
    <div class="col-6 mt-5">
      <div class="card" style="max-width: 100%;background-color: #0081B4;border: none;border-radius: 20px;">
        <div class="card-header hd">
          <h5 style="color: #0081B4">Quelque image de la banque</h5>
        </div>
        <div class="card-body">
          <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://plus.unsplash.com/premium_photo-1673984588722-de4ccab8dcab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1601597111158-2fceff292cdc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1601597111158-2fceff292cdc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
